[submodule "external/BakaInterface-Scaleform"]
	path = external/BakaInterface-Scaleform
	url = https://github.com/shad0wshayd3/BakaInterface-Scaleform.git
[submodule "external/CommonLibF4"]
	path = external/CommonLibF4
	url = https://github.com/shad0wshayd3/CommonLibF4.git
